<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="/css/menu.css">
</head>
@{
    <img id="contol" class="btn_control" src="~/Resources/flag-of-armenia.jpg" />
    <a href="@Url.Action("Salads","Sushi")">
        <img id="btn" class="btn" src="/Resources/USFLag.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href="@Url.Action("SaladsRus","Sushi")">
        <img id="btn_rus" class="btn" src="/Resources/Flag-Russia.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href="@Url.Action("SaladsArm","Sushi")">
        <img id="btn_arm" class="btn" src="/Resources/flag-of-armenia.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href="@Url.Action("IndexArm","Sushi")">
        <img id="btn_back" class="btn" src="/Resources/1024px-Back_Arrow.svg.png" height="90" width="90" alt="clear" />
    </a>
    <div class="row">
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="@Url.Action("IndexArm","SushiItems",new SushiViewModel { NameAndPrice = "Խոզի ականջներ  2800", Src = "/Resources/Sushi/53 Աղցան խոզի ականջներով.jpg", MenuName = "SaladsArm" })">
                        <h1>Խոզի ականջներ  2800</h1>
                        <img class="image" src="/Resources/Sushi/53 Աղցան խոզի ականջներով.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="@Url.Action("IndexArm","SushiItems",new SushiViewModel { NameAndPrice = "Չուկյա  1200", Src = "/Resources/Sushi/54 Չուկա աղցան.jpg", MenuName = "SaladsArm" })">
                        <h1>Չուկյա  1200</h1>
                        <img class="image" src="/Resources/Sushi/54 Չուկա աղցան.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="@Url.Action("IndexArm","SushiItems",new SushiViewModel { NameAndPrice = "Կալիֆորնիա Աղցան  1500", Src = "/Resources/Sushi/55 Կալիֆորնիա աղցան.jpg", MenuName = "SaladsArm" })">
                        <h1>Կալիֆորնիա Աղցան  1500</h1>
                        <img class="image" src="/Resources/Sushi/55 Կալիֆորնիա աղցան.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
