<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="/css/menu.css">
</head>
@{
    <img id="contol" class="btn_control" src="~/Resources/flag-of-armenia.jpg" />
    <a href="@Url.Action("Wok","Sushi")">
        <img id="btn" class="btn" src="/Resources/USFLag.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href="@Url.Action("WokRus","Sushi")">
        <img id="btn_rus" class="btn" src="/Resources/Flag-Russia.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href="@Url.Action("WokArm","Sushi")">
        <img id="btn_arm" class="btn" src="/Resources/flag-of-armenia.jpg" height="60" width="90" alt="clear" />
    </a>
    <a href="@Url.Action("IndexRus","Sushi")">
        <img id="btn_back" class="btn" src="/Resources/1024px-Back_Arrow.svg.png" height="90" width="90" alt="clear" />
    </a>
    <div class="row">
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Фунчоза со свининой  1500", Src = "/Resources/Sushi/58 59 60 61.jpg", MenuName = "WokRus" })">
                        <h1>Фунчоза со свининой  1500</h1>
                        <img class="image" src="/Resources/Sushi/58 59 60 61.jpg" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Тамаго со свининой  1250", Src = "/Resources/Sushi/58 59 60 61.jpg", MenuName = "WokRus" })">
                        <h1>Тамаго со свининой  1250</h1>
                        <img class="image" src="/Resources/Sushi/58 59 60 61.jpg" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Тамаго с курицей  950", Src = "/Resources/Sushi/62 63 64 65.png", MenuName = "WokRus" })">
                        <h1>Тамаго с курицей  950</h1>
                        <img class="image" src="/Resources/Sushi/62 63 64 65.png" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Тамаго с говядиной  1250", Src = "/Resources/Sushi/66 67 68 69.png", MenuName = "WokRus" })">
                        <h1>Тамаго с говядиной  1250</h1>
                        <img class="image" src="/Resources/Sushi/66 67 68 69.png" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Соба с морским коктейлем  1500<", Src = "/Resources/Sushi/70 71 72 73.jpg", MenuName = "WokRus" })">
                        <h1>Соба с морским коктейлем  1500</h1>
                        <img class="image" src="/Resources/Sushi/70 71 72 73.jpg" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Фунчоза с морским коктейлем  1500", Src = "/Resources/Sushi/70 71 72 73.jpg", MenuName = "WokRus" })">
                        <h1>Фунчоза с морским коктейлем  1500</h1>
                        <img class="image" src="/Resources/Sushi/70 71 72 73.jpg" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Вок грибной с фунчозой  1200<", Src = "/Resources/no_image.jpg", MenuName = "WokRus" })">
                        <h1>Вок грибной с фунчозой  1200</h1>
                        <img class="image" src="/Resources/no_image.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Удон со свининой  1250", Src = "/Resources/Sushi/58 59 60 61.jpg", MenuName = "WokRus" })">
                        <h1>Удон со свининой  1250</h1>
                        <img class="image" src="/Resources/Sushi/58 59 60 61.jpg" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Фунчоза с курицей  1200", Src = "/Resources/Sushi/62 63 64 65.png", MenuName = "WokRus" })">
                        <h1>Фунчоза с курицей   1200</h1>
                        <img class="image" src="/Resources/Sushi/62 63 64 65.png" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Удон с курицей  950", Src = "/Resources/Sushi/62 63 64 65.png", MenuName = "WokRus" })">
                        <h1>Удон с курицей  950</h1>
                        <img class="image" src="/Resources/Sushi/62 63 64 65.png" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Удон с говядиной  1250", Src = "/Resources/Sushi/66 67 68 69.png", MenuName = "WokRus" })">
                        <h1>Удон с говядиной  1250</h1>
                        <img class="image" src="/Resources/Sushi/66 67 68 69.png" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Тамаго с морским коктейлем  1250", Src = "/Resources/Sushi/70 71 72 73.jpg", MenuName = "WokRus" })">
                        <h1>Тамаго с морским коктейлем  1250</h1>
                        <img class="image" src="/Resources/Sushi/70 71 72 73.jpg" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Вок грибной с Удоном  950", Src = "/Resources/no_image.jpg", MenuName = "WokRus" })">
                        <h1>Вок грибной с Удоном  950</h1>
                        <img class="image" src="/Resources/no_image.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul style="list-style: none;">
                <li>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Соба со свининой  1500", Src = "/Resources/Sushi/58 59 60 61.jpg", MenuName = "WokRus" })">
                        <h1>Соба со свининой  1500</h1>
                        <img class="image" src="/Resources/Sushi/58 59 60 61.jpg" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Соба с курицей  1200", Src = "/Resources/Sushi/62 63 64 65.png", MenuName = "WokRus" })">
                        <h1>Соба с курицей  1200</h1>
                        <img class="image" src="/Resources/Sushi/62 63 64 65.png" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Соба с говядиной  1500", Src = "/Resources/Sushi/66 67 68 69.png", MenuName = "WokRus" })">
                        <h1>Соба с говядиной  1500</h1>
                        <img class="image" src="/Resources/Sushi/66 67 68 69.png" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Фунчоза с говядиной  1500", Src = "/Resources/Sushi/66 67 68 69.png", MenuName = "WokRus" })">
                        <h1>Фунчоза с говядиной  1500</h1>
                        <img class="image" src="/Resources/Sushi/66 67 68 69.png" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Удон с морским коктейлем  1250", Src = "/Resources/Sushi/70 71 72 73.jpg", MenuName = "WokRus" })">
                        <h1>Удон с морским коктейлем  1250</h1>
                        <img class="image" src="/Resources/Sushi/70 71 72 73.jpg" alt="1">
                    </a>
                    <a href="@Url.Action("IndexRus","SushiItems",new SushiViewModel { NameAndPrice = "Вок грибной с рисом  950", Src = "/Resources/no_image.jpg", MenuName = "WokRus" })">
                        <h1>Вок грибной с рисом  950</h1>
                        <img class="image" src="/Resources/no_image.jpg" alt="1">
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
